.content-nav {
    position: relative;
    padding: 2rem 3% 0;
   
}

.container.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    z-index: 100;

    &:not(.nav--footer){
        animation: down 2s ease;
    }
   

    &__home {
        z-index: 10;
        width: 5rem;
        height: 5rem;

        & > a {
            display: block;
            height: 100%;
        }

        &:hover {
            transform: scale(1.1);
        }
       
        transition: transform .25s;
    }

    &__list {
        gap: 4rem;
        font-family: $font-title;
        color: $clr-theme-dark;
    
        & a {
            transition: color .25s;
            &:hover, &:focus {
                color: $clr-theme-light;
            }
        }

        @include tablet-s {
            display: none;
        }
      
    }

    &__social {
        padding-top: 1rem;
        gap: 2.5rem;
        z-index: 100;

        & a {
            transition: transform .25s;

            &:hover, &:focus {
                transform: scale(1.1);
            }
        }
        
        @include tablet-s {
            padding-left: 3rem;        
        }
    }

}
