//fonts 
$font: "Karla", sans-serif;
$font-title: "Montserrat", sans-serif;

$font-light: 300;
$font-regular: 400;

$font-title-semi: 600;
$font-title-bold: 700;
$font-title-extra: 800;
$font-title-black: 900;

//colors
$clr-txt: #4B486A;
$clr-theme-dark: #161253;
$clr-theme-light: #33ABDC;
$clr-bg: #FDFDFD;

$clr-soft-1: #ECF0FD;
$clr-soft-2: #F8EEFF;
$clr-soft-3: #D9F5FF;
